:root {
    --white: #e7e7e7;
    --light-orange: #e98024;
    --dark-orange: #eb6424;
    --light-blue: #204184;
    --dark-blue: #1b1c4d;
    --purple: #82565f;
    --div-border: 5px solid #eb6424;
}

/* Fonts */
@font-face {
    font-family: Bebas;
    src: url(../fonts/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: Gobold-Bold;
    src: url(../fonts/Gobold\ Bold.ttf);
}

@font-face {
    font-family: Fjalla;
    src: url(../fonts/FjallaOne-Regular.ttf);
}

/* Elements in chronological order */
form {
    display: table;
    background-color: var(--light-orange);
    margin: 20px;
    border-radius: 20px;
    box-shadow: -20px 20px 13px black;
}

label {
    padding-right: 30px;
    padding-left: 30px;
    width: 50%;
    color: var(--white);
}

label,
input {
    display: table-cell;
    margin: 10px 0 10px 0;
    text-align: left;
    font-size: 20px;
    border-radius: 5px;
    font-family: Fjalla, Arial, Helvetica, sans-serif;
}

textarea {
    height: 150px;
    max-height: 300px;
    min-height: 100px;
    width: 94%;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

/* classes by chronological order */
.form-input {
    display: table-row;
    padding-top: 20px;
}

.submit-row {
    display: flex;
    justify-content: center;
}

/* ids by chronological order */
#name,
#song-url {
    margin-right: 10px;
}

#explanation-div {
    margin: 10px 0 10px 0;
}

#explanation-label {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
}

#submit-btn {
    font-size: 20px;
    margin-top: 30px;
}

/* Media query for small computer screen sizes and smaller (order of elements, classes and ids are important to correctlly format page) */
@media screen and (max-width: 1024px) {
    .form-input {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        /* text-align: center; */
    }

    /* .form needs to overwrite .form-input because the form element on the HTML has both and needs to be set to display flex to be formatted correctly. */
    .form {
        display: flex;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
    }

    textarea {
        width: 70%;
    }

    #name,
    #song-name,
    #song-url {
        margin: 10px 0 0 0;
        width: 70%
    }

    label {
        text-align: center;
        width: 100%;
        font-size: 30px;
        padding: 0;
    }
}