:root {
    --white: #e7e7e7;
    --light-orange: #e98024;
    --dark-orange: #eb6424;
    --light-blue: #204184;
    --dark-blue: #1b1c4d;
    --purple: #82565f;
    --div-border: 5px solid #eb6424;
}

/* Fonts */
@font-face {
    font-family: Bebas;
    src: url(../fonts/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: Gobold-Bold;
    src: url(../fonts/Gobold\ Bold.ttf);
}

@font-face {
    font-family: Fjalla;
    src: url(../fonts/FjallaOne-Regular.ttf);
}

/* Dark Mode */
.dark {
    background-color: var(--dark-blue);
    height: 100vh;
}

.dark a,
.dark footer {
    color: var(--white)
}

/* Light Mode */
.light {
    background-color: #f0ead6;
    height: 100vh;
}

.light a,
.light footer {
    color: black;
}

/* Elements in chronological order */
header {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

ul {
    display: inline-flex;
    align-items: center;
}

a {
    text-decoration: none;
}

hr {
    height: 2px;
    width: 96%;
    border-width: 0;
    color: var(--dark-orange);
    background-color: var(--dark-orange);
    margin-bottom: 35px;
}

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

footer {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    font-family: Fjalla, Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

/* classes in chronological order */
.nav-menu {
    margin-right: 20px;
}

.nav-anchor {
    text-decoration: none;
    font-size: 25px;
    font-family: Gobold-Bold, Arial, Helvetica, sans-serif;
}

.content {
    display: flex;
    justify-content: space-around;
}

.left-side {
    display: flex;
    border: var(--div-border);
    width: 45%;
    height: auto;
    align-items: center;
    justify-content: center;
    box-shadow: -20px 20px 13px black;
}

.right-side {
    display: flex;
    border: var(--div-border);
    width: 45%;
    height: 0;
    padding-top: 56.25%; /* 16:9 aspect ratio (9 / 16 * 100) */
    position: relative;
    align-items: center;
    justify-content: center;
    box-shadow: -20px 20px 13px black;
}

/* Keep the images the same size while cycling */
.right-side img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.footer-link {
    text-decoration: underline;
}

/* ids in chronological order */
#title {
    margin-left: 40px;
    font-size: 80px;
    font-family: Bebas, Arial, Helvetica, sans-serif;
}

#mode-switch {
    margin-right: 40px;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

/* Attempt to animate the cycling images with fade-in and fade-out */
/* .fade-in {
    animation: img-fade-in 8s linear forwards;
}

@keyframes img-fade-in {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
} */

/* Media query for tablet screen size and smaller */
@media screen and (max-width: 768px) {
    /* Elements in chronological order */
    header {
        display: inline;
    }

    nav {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    /* ids in chronological order */
    #title {
        display: flex;
        justify-content: center;
        margin-left: 0;
        margin-bottom: 20px;
    }
    
    #mode-switch {
        margin-right: 0;
    }
}

/* Media query for small computer screen sizes and smaller */
@media screen and (max-width: 1024px) {
    /* Elements in chronological order */
    hr {
        width: 100%;
    }

    /* classes in chronological order */
    .content {
        flex-direction: column;
        width: 100%;
    }

    .left-side {
        width: 100%;
        border: none;
        order: 1;
    }

    .right-side {
        width: 100%;
        border: none;
        order: 0;
    }

    .right-side,
    .left-side {
        box-shadow: none;
    }
}

/* Media query for small computer screen size and larger */
@media screen and (min-width: 1025px) {
    footer {
        padding-top: 20px;
    }
}